extends layout

block append vars
	- activeLink = 'Home'

block header
	div.clearfix
		div.clearfix
			div.col.md-col-6
				h1.h0.mb1 Brendan Strahm
			div.col.md-col-6.pt2
				h5.serif.mb0
					a(href='mailto:bstrahm@gmail.com') bstrahm [at] gmail.com<br />
					a(href='/resume.pdf') Resume (PDF)
		div.mb3.md-col.md-col-6.pr2
			p.my1!= typogr(contents['about-me.md'].metadata.tagline).typogrify()
			a(href= '/about-me.html') More about me &raquo;

block content
	a(name='projects')
	div.clearfix
		each project in projects
			div.md-col.md-col-6
				div.clearfix.mr2.mt2.project(style="background-image: url(#{project.url + project.metadata.image})")
					div.pb2.px3
						h2.mb0
							a(href= project.url)= project.title
						if project.metadata.subtitle
							h3.mt0.h6.caps!= typogr(project.metadata.subtitle).typogrify()
						if project.metadata.tagline
							div.mt1!= typogr(project.metadata.tagline).typogrify()
