extends layout

block content
	- var note = page.metadata.note;
	- var organization = page.metadata.Organization;
	- var problem = page.metadata.Problem;
	- var solution = page.metadata.Solution;
	- var researchQuestion = page.metadata['Research-Question'];
	- var role = page.metadata.Role;

	div.hero
		h2.h0= page.title
		if page.metadata.subtitle
			h3.h5.silver.caps!= typogr(page.metadata.subtitle).typogrify()
		
		div.clearfix
			if problem
				div.md-col.md-col-4.pr3
					h3 Problem
					p!= typogr(problem).typogrify()
			if solution
				div.md-col.md-col-4.pr3
					h3 Solution
					p!= typogr(solution).typogrify()
			if researchQuestion
				div.md-col.md-col-4.pr3
					h3 Research Question
					p!= typogr(researchQuestion).typogrify()
			if role
				div.md-col.md-col-4.pr3
					h3 My Role
					p!= typogr(role).typogrify()
	
	div.clearfix.relative
		div.md-col.md-col-8.pr3
			if organization
				div.figwrapper
					figure.flush
						h4 Organization
						p!= typogr(organization).typogrify()
			if note
				p.note
					b NOTE
					br/
					= note
			!= typogr(page.html).typogrify()
	
	div.clearfix
		h5.mb0.serif.col.md-col-4
			a(href='/') &laquo; Home
		h5.mb0.serif.col.md-col-4.center
			a(href='#') &uarr; Top
	
block append scripts
	script(type='text/javascript').
		document.addEventListener("DOMContentLoaded", function(event) { 
			lightbox.option();
		});
